@import "~bootstrap/scss/bootstrap";

$maroon: rgb(128,0,0);

body{
    height: 100%;
}




.login-page{
    display: flex;
    flex-direction: column;
 
height: 100vh;
background-color: rgba(0, 0, 0, 0.4);
background: url('../public/static/frontpagePicPhone.jpg') no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;


}

.my-title{
    font-size: 35px;
    color: white;
    font-family: "Bookman Old Style";
    font-weight: 600;
    margin-top: 50vh;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 5%;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    letter-spacing: 2px;
}
.my-intro{
    width: 80%;
    font-size: 18px;
    color: white;
    margin-top: 7%;
    margin-left: 5%;
    align-self: left;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-family: "Bookman Old Style";
}
.btn-fb{
    margin-top: 10%;
    margin-left: 6%;
    font-size: 15px;
    width: 180px;
    height: 60px;
    font-family: "Bookman Old Style";
}


//Book page
.icon-box{
    width: 96%;
    height: 20px;
    margin-top: 4%;
    display: flex;
    flex-direction: row;
    top:0;

    
}

.my-icon{
    width: 20px;
    height: 20px;
    display: flex;
    
}
.my-icon-end{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    width: 75px;
    justify-content: space-around;
}

.option-page{
    display: flex;
    flex-direction: column;
    height: 100vh;
    //background-color: orange;
    background-image: url('../public/static/searchBookPhone.jpg');
    background-attachment: fixed;
    background-size: cover;
    
}
.booklist-page{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: white;
    background-image: url('../public/static/stars.jpg');
    background-attachment: fixed;
    background-size: cover;
    overflow: scroll;
    
}
.profile-page{
    background-image: url('../public/static/skyspiralPhone.jpg');
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    background-attachment: fixed;
}
// Contact page
.contact-page{
    background-image: url('../public/static/gradientbgPhone.jpg');
    background-attachment: fixed;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;;
}

.book-greeting{
    //background-color: rgb(128,0,0);
    background-image: url('../public/static/maroonPoster.png');
    background-size: cover;
    width: 100%;
    height: 165px;
    justify-self: center;
    color: white;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    font-family: "Bookman Old Style";
    font-size: 15px;
    top: 0;
}

.greeting-text{
    margin-left: 4%;
}


//Form
.my-form{
    display: flex;
    flex-direction: column;
    margin-top: 50%;
    width: 100%;
    align-items: center;
}
.my-group{
    width: 80%;
}

.my-btn{
    align-self: start;
    margin-top:5%
}

.my-divider{
    width: 80%;
    border: 1px solid white;
    border-radius: 50%;
    height: 0.4px;
    margin-left: 10%;
    margin-top: 6%;
}
.my-btn-viewall{
    margin-top: 5%;
    align-self: center;
    width: 50%;
    margin-left: 25%;
}



//Booklist page
.book-list{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

//Booklist book item
.book-item{
    width: 90%;
    border-radius: 20px;
    //height:130px;
    height: auto;
    min-height: 130px;
    max-height: 300px;
    margin-top: 5%;
    //background-color: maroon;
    display: flex;
    flex-direction: row;
    background-image: url('../public/static/maroonPoster2.png');
    background-size: cover;
    
}
.item-section1{
    flex: 1;
}
.item-section2{
    flex: 2;
    margin-left: 10px;
    margin-top: 10px;
    font-family: "Bookman Old Style";
    color: white;

}


.book-item-section{
    display: flex;
    flex-direction: row;
    width: 100%;
    //margin-top: 5%;
    justify-content: center;
}

.book-item-profile{
    //background-color: maroon;
    background-image: url('../public/static/maroonPoster2.png');
    background-size: cover;
    height: 200px;
    width: 94%;
    max-width: 400px;
    color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    font-family: "Bookman Old Style";
    font-size: 13px;
    margin-top: 5%;
}
.section1{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 3%;
    margin-left: 3%;
}
.section2{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-self: flex-end;
    margin-top: 4%;
}
.section1-image{
    display: flex;
    flex: 1;
}
.section1-info{
    display: flex;
    flex-direction: column;
    flex: 2.5;
    margin-left: 4%;
}

.buttons-section{
    display: flex;
    flex-direction: row;
    width: 220px;
    justify-content: space-between;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 1%;
}
.myprofile-header{
    font-family: "Bookman Old Style";
    font-size: 18px;

}


// Contact page
.bookInfo{
    width: 94%;
    max-width: 400px;
    height: 150px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    margin-top: 4%;
    padding: 5px;
}

.contact-textBox{
    width: 100%;
    height: 150px;
    text-emphasis: none;
    padding: 5px;
    border: solid 1px black;
} 

@media only screen and (min-width: 750px){
    
}