body{
    height: 100%;
}




.login-page{
    display: flex;
    flex-direction: column;
 
height: 100vh;
background-color: rgba(0, 0, 0, 0.4);
background: url('../public/static/macEwanpic.jpg') no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;


}

.my-title{
    font-size: 24px;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-top: 70%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 5%;
}
.my-intro{
    width: 50%;
    color: white;
    margin-top: 5%;
    margin-left: 5%;
    align-self: left;
    display: flex;
    flex-direction: column;
    text-align: left;
}
.btn-fb{
    margin-top: 5%;
    margin-left: 5%;
    width: 200px
}


//Book page
.icon-box{
    width: 96%;
    height: 20px;
    margin-top: 4%;
    display: flex;
    flex-direction: row;

    
}

.my-icon{
    width: 20px;
    height: 20px;
    display: flex;
    
}
.my-icon-end{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    width: 55px;
    justify-content: space-around;
}

.option-page{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: orange;
    
}

.book-greeting{
    background-color: rgb(128,0,0);
    width: 100%;
    height: 165px;
    justify-self: center;
    color: white;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.greeting-text{
    margin-left: 4%;
}


//Form
.my-form{
    display: flex;
    flex-direction: column;
    margin-top: 50%;
    width: 100%;
    align-items: center;
}
.my-group{
    width: 80%;
}

.my-btn{
    align-self: start;
    margin-top:5%
}

.my-divider{
    width: 80%;
    border: 1px solid white;
    border-radius: 50%;
    height: 0.4px;
    margin-left: 10%;
    margin-top: 6%;
}
.my-btn-viewall{
    margin-top: 5%;
    align-self: center;
    width: 50%;
    margin-left: 25%;
}



//Booklist page
.book-list{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book-item{
    width: 320px;
    height:130px;
    border-radius: 2%;
    background-color: grey;margin-top: 2%;

}

.book-item-section{
    display: flex;
    flex-direction: row;
    width: 320px;
    height: 100px;
    margin-top: 2%;
}

.book-item-profile{
    background-color: grey;
    height: 100%;
    flex:2.5;
}
.book-delete-section{

    height: 100%;
    background-color: blue;
    flex: 1;
    border-bottom-right-radius: 15%;
    border-top-right-radius: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.delete-icon{
    width: 30px;
    height: 30px;
}

@media only screen and (min-width: 750px){
    
}